*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.kotlin/errors/errors-1755786630895.log
/.kotlin/errors/errors-1755786965287.log
/.kotlin/errors/errors-1755787016341.log
/.kotlin/errors/errors-1755787037486.log
/.kotlin/errors/errors-1755787072954.log
/.kotlin/errors/errors-1755787126504.log
/.kotlin/errors/errors-1755787303894.log
/.kotlin/errors/errors-1755787393560.log
/.kotlin/errors/errors-1755787618683.log
/.kotlin/errors/errors-1755787813099.log
/.kotlin/errors/errors-1755787989829.log
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
